@import './variables.scss';

$module-name: 'car';

.#{$module-name} {
	margin: 0;
	padding: 20px 0;

	&:nth-child(2n+1) {
		background: $white;
	}

	&:nth-child(2n) {
		background: $gray-light;
	}

	&__possible, &__seating {
		margin: 0;
	}

	&__type {
		margin: 0;
	}

	&__pricing {
		text-align: right;
	}

	&__subtotal, &__fees {
		color: $gray;
		margin: .5em 0;
	}

	&__total-price {
		border-top: 1px solid $black;
		color: $black;
		font-weight: bold;
		margin-top: 0;
		padding: .5em 0;
	}

	&__rate {
		color: $gray;
		margin: .5em 0;
	}

	&__cta {
		@include button-style();

		display: inline-block;
		margin-bottom: 2em;
	}

	&__more {
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;
		transition: max-height, .2s;

		&--expanded {
			max-height: 9999px;
		}

		&-toggle {
			border: 0;
			background: transparent;
			color: $gray;
			float: right;
			font-size: $font-sm;
			margin-right: 10px;

			&:hover {
				cursor: hand;
				cursor: pointer;
				text-decoration: underline;
			}

			&:after {
				content: " ▼";
			}

			&--expanded {
				&:after {
					content: " ▲";
				}
			}
		}
	}

	&__flex {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
   		min-width: 25%;
   		min-height: 100%;
   		padding: 0 10px;
   		flex: 1;
   		flex-grow: 1;

   		&-container {
   			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
   		}
	}
}