//*********************************
// COLORS
//*********************************
$black: #222;
$white: #fff;
$gray: #777;
$red: #E82C0C;

//*********************************
// FONT SIZING
//*********************************

// Note: A mixin for font-scaling would be better
$font-sm: .8em;
$font-md: 1.2em;
$font-lg: 1.6em;
$font-xl: 2.4em;
$font-xxl: 3.6em;

