//*********************************
// COLORS
//*********************************
$black: #222;
$white: #fff;
$gray: #777;
$gray-light: #f6f6f6;
$green: #009C58;
$red: #E82C0C;

//*********************************
// FONT SIZING
//*********************************

// Note: A mixin for font-scaling would be better
$font-sm: .8em;
$font-md: 1.2em;
$font-lg: 1.6em;
$font-xl: 2.4em;
$font-xxl: 3.6em;

//*********************************
// Mixins
//*********************************
@mixin button-style() {
	background: $green;
	border-radius: 4px;
	border: 0;
	color: white;
	font-size: $font-md;
	padding: 8px 24px;
	text-align: center;
	text-decoration: none;
	transition: background, .2s;

	&:active, &:hover, &:focus {
		background: lighten($green, 10%);
		cursor: hand;
		cursor: pointer;
	}
}