@import './styles/variables.scss';
@import './styles/header.scss';
@import './styles/search.scss';
@import './styles/error-message.scss';
@import './styles/results.scss';
@import './styles/car.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&subset=latin-ext');

#root {
	color: $black;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: -0.2px;
	padding: 50px 20px;
}

* {
	box-sizing: border-box;
}